@model IEnumerable<PeoplePro.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Building.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* https://softdevpractice.com/blog/asp-net-core-mvc-ajax-modals/ *@
<!-- Modal placeholder-->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addEmployeeLabel" aria-hidden="true" data-url="@Url.Action("AjaxCreate")">
    <div id="modal-content"></div>
</div>

<!-- Button Trigger Modal -->
<button type="button" class="btn btn-primary" id="show-modal">
    Add Employee
</button>
